<h1><%= @list.name %></h1>



<table class="table table-striped">
	<tr>
			<th>
				<SPAN>Fecha programada</SPAN>

			</th>
			<th>
				<span>Descripcion</span>
			</th>
			<th>
				<span>Opciones</span>
			</th>
		</tr>

		
		 
		<% @list.tasks.sort{|a,b| a.duedate <=> b.duedate}.each do |task| %>
				
		<tr>
			<td>
				<span><%= task.duedate.to_formatted_s(:db) %></span> 
			</td>
			<td>
				<span><%= task.description %></span>
			</td>
			<td>
			
				<span style="padding-left:2px"><%= link_to "Editar", edit_task_path(task), class: "btn btn-mini btn-success" %>  </span>
				<span><%= link_to "Eliminar", task, class: "btn btn-mini btn-danger", method: :delete,
                                  data: { confirm: "Está seguro que quiere eliminar la tarea?" } %>
                </span> 
			</td>
			
			
		</tr>		
		<% end %> 
	</table>
<%= link_to "Nueva tarea", new_task_path(list_id: @list.id), class: "btn btn-large btn-primary" %>
