<% provide(:title, "Bienvenido") %>
<h1>Bienvenido a uTask</h1>

<div class="row">
  <div class="span6 offset3">
    <%= form_for(:session, url: sessions_path) do |f| %>

      <%= f.label :email, 'Correo electrónico' %>
      <%= f.text_field :email %>

      <%= f.label :password, 'Contraseña' %>
      <%= f.password_field :password %>

      <%= f.submit "Ingresar", class: "btn btn-large btn-primary" %>
    <% end %>

    <p>¿No estás registrado? <%= link_to "Es muy fácil!", signup_path %></p>

  </div>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

